.behaviours-component-container
	height: 100%
	margin-bottom: 12px
	display: flex
	flex-flow: column
	.behaviours-component
		height: 100%
		display: flex
		flex-direction: column
		.content
			display: flex
			flex-flow: column
			.content-component
				overflow-y: scroll
				padding: 2px
				padding-top: 0
				max-height: 736px
				.alpha
					height: 35px
					background: #383838
					h4
						box-sizing: border-box;
				.values-component-container
					height: 35px
					.values-component
						height: 100%
						display: flex
						background: #2e2e2e
						.start, .end
							width: 100%
							display: flex
						.numbers
							margin: 7px
							width: 50%
							color: white
							background: #1e2225
							border: none
				.head
					padding: 10px;
					font-size: 0.75rem

	@media screen  and (max-width : 1090px)
		box-sizing: border-box
		.heading
			flex-shrink: 0
			.content-component
				height: 100%
				max-height: 173px