.buttons
	display: flex
	align-items: center
	margin-right: 6px
	z-index: 2
	.button:hover
		background-color: lighten(#467f20, 10%)
	.button:active
		background-color: darken(#467f20, 25%)
	.button
		display: flex
		padding: 10px 13px
		box-sizing: border-box
		background: #478020
		border-radius: 3px
		span
			font-size: 0.65rem
			color: #d8e2d4
			font-family: Arial, sans-serif
			text-transform: uppercase