.dropdown
	max-height: 35vh
	overflow-y: auto
	position: absolute
	z-index: 2
	min-width: 195px
	max-width: 195px
	background: #2e2e2e
	box-shadow: 0 0 20px #1e2225
	.search-container
		display: flex
		align-items: center
		background: #252525
	.fa-search
		width: 15px
		margin: 15px
		margin-right: 8px
		box-sizing: border-box
		font-size: 13px
	.search
		-webkit-appearance: none
		width: 100%
		display: inline-block
		color: #a3a3a3
		background: #252525
		border: none
		outline: none
		padding: 15px 0
		box-sizing: border-box
	li:hover
		background-color: lighten(#383838, 5%)
	li:active
		background-color: darken(#383838, 25%)
	li
		padding: 11px
		box-sizing: border-box
		border-bottom: 1px solid #1e1e1e
		a
			font-size: 0.8rem
			color: #a3a3a3
			font-family: Arial, sans-serif
			text-decoration: none
		&.active
			background-color: lighten(#383838, 5%)

.dropdown1
	top: 50px
	right: 10px

.dropdown2
	top: 39px
	left: 75px