.images-component-container
	height: 200px
	display: flex
	flex-direction column
	flex-grow: 1
	.container-grid
			height: 100px;
			overflow: auto

	@media screen  and (max-width : 1090px)
		height: 130px
		display: flex
		flex-direction column
		.container-grid
			height: 80px