@import 'App.styl';
@import 'Behaviours.styl';
@import 'Box.styl';
@import 'Grid.styl';
@import 'Images.styl';
@import 'Menu.styl';
@import 'Dropdown.styl';
@import 'Preview.styl';
@import 'reset.styl';
@import 'buttons.styl';
@import 'variables.styl';
@import 'scrollbars.styl';

body
	height: 100%
	color: #a3a3a3
	background-color: #000
	font-family: Arial, sans-serif