.menu-container
	background: $box-color
	.menu
		display: flex
		min-width: 155px
		font-size: 0.75rem
		li:hover
			background-color: lighten(#1c1c1c, 5%)
		li:active
			background-color: darken(#1c1c1c, 25%)
		li
			padding: 13px
			padding-left: 20px
			box-sizing: border-box
			a
				text-decoration: none
				color: #a3a3a3
				font-size: 0.85rem