.tools-line
	height: 70px
	.buttons
		height: 100%
		justify-content: flex-end
		.button
			padding: 12px 13px
		.remove
			background: #3b3b3b
			&:hover
				background-color: lighten(#3b3b3b, 10%)
			&:active
				background-color: darken(#3b3b3b, 25%)