//.component
//	&.state
//		color: #757575
//		.icon
//			border: none
//			border-radius: 0
//		&.success
//			border: 1px solid #96de61
//			.icon
//				background: #dcf4d0
//				.fa
//					color: #1bb536
//		&.warning
//			border: 1px solid #ffbf8b
//			.icon
//				background: #ffefe7
//				.fa
//					color: #ffa100
//		&.danger
//			border: 1px solid #ffb3b3
//			.icon
//				background: #ffe7e7
//				.fa
//					color: #ff0000