    <div class="box-component behaviours-component">
        <div class="heading">
            <h3 class="title">Behaviours</h3>
            <div class="buttons">
                <div class="button effect-add-button">
                    <span>+ Add</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-component">

            </div>
        </div>
    </div>