<div class="app-component">
    <div class="top"></div>
    <div class="inner">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="box-component tools-line">
        <div class="buttons">
            <div class="button remove">
                <span>Remove...</span>
            </div>
            <div class="button">
                <span>Add to timeline</span>
            </div>
        </div>
    </div>
</div>