<div class="app-component">
    <div class="top"></div>
    <div class="inner">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <div class="tools-line">
        <div class="buttons">
            <div class="button"></div>
            <div class="button"></div>
        </div>
    </div>
</div>