<div class="box-component preview-component">
    <div class="heading">
        <h3 class="title">Preview</h3>
    </div>
    <div class="content">
        <canvas class="canvas" width="606" height="575">
        </canvas>
    </div>
    <div class="options">
        <label class="description">
            <input class="check" type="checkbox" data-type="tween"/>
            <span class="inscription">TWEEN</span>
        </label>
        <label class="description">
            <input class="check" type="checkbox"  data-type="click"/>
            <span class="inscription">EMIT ON CLICK</span>
        </label>
        <label class="description">
            <input class="check" type="checkbox"  data-type="follow"/>
            <span class="inscription">FOLLOW CURSOR</span>
        </label>
    </div>
</div>
