<div class="box-component tools-line">
    <div class="buttons">
        <div class="button add">
            <span>Create</span>
        </div>
        <div class="button destroy color">
            <span>Destroy</span>
        </div>
        <div class="button start">
            <span>Start</span>
        </div>
        <div class="button stop color">
            <span>Stop</span>
        </div>
    </div>
</div>