<div class="box-component tools-line">
    <div class="buttons">
        <div class="button destroy">
            <span>Destroy emitter</span>
        </div>
        <div class="button start">
            <span>Start emitter</span>
        </div>
        <div class="button stop">
            <span>Stop emitter</span>
        </div>
        <div class="button add">
            <span>Add to timeline</span>
        </div>
    </div>
</div>