@import "components/*.styl"


#controlKit
	position: static
#controlKit .options
	position: static
#controlKit .panel
	position: static !important
	width: 100% !important
	// .wrap-slider
	// 	width: 126px
	& > .head
		display: none
	& > .wrap
		 //overflow-y: scroll !important
		height: auto !important
	.scrollBar
		display: none !important
	.group-list
		.group
			.head
				cursor: default
				.label
					cursor: default
	.button
		cursor: default