<div class="dropdown-component-container">
    <div class="dropdown-component">
        <nav class="dropdown dropdown1">
            <ul>
                <div class="search-container">
                    <span class="fa fa-search fa-fw"></span>
                    <input class="search" type="text" name="search" placeholder="Search"/>
                </div>
                <li data-effect-type="Alpha"><a href="#">Alpha</a></li>
                <li data-effect-type="Attraction"><a href="#">Attraction</a></li>
                <li data-effect-type="Collision"><a href="#">Collision</a></li>
                <li data-effect-type="Color"><a href="#">Color</a></li>
                <li data-effect-type="CrossZone"><a href="#">CrossZone</a></li>
            </ul>
        </nav>
    </div>
</div>