<div class="dropdown-component-container">
    <div class="dropdown-component">
        <nav class="dropdown dropdown1">
            <ul>
                {{!-- <li data-effect-type="Alpha"><a href="#">Alpha</a></li>
                <li data-effect-type="Attraction"><a href="#">Attraction</a></li>
                <li data-effect-type="Repulsion"><a href="#">Repulsion</a></li>
                <li data-effect-type="Collision"><a href="#">Collision</a></li>
                <li data-effect-type="RectZone"><a href="#">RectZone</a></li>
                <li data-effect-type="CircleZone"><a href="#">CircleZone</a></li>
                <li data-effect-type="LineZone"><a href="#">LineZone</a></li>
                <li data-effect-type="Force"><a href="#">Force</a></li>
                <li data-effect-type="Rotate"><a href="#">Rotate</a></li>
                <li data-effect-type="Scale"><a href="#">Scale</a></li>
                <li data-effect-type="RandomDrift"><a href="#">RandomDrift</a></li>
                <li data-effect-type="GravityWell"><a href="#">GravityWell</a></li>
                <li data-effect-type="BlendMode"><a href="#">BlendMode</a></li> --}}
                <li data-effect-type="GlowFilter"><a href="#">GlowFilter</a></li>
                <li data-effect-type="DisplacementFilter"><a href="#">DisplacementFilter</a></li>
                <li data-effect-type="BlurFilter"><a href="#">BlurFilter</a></li>
                <li data-effect-type="NoiseFilter"><a href="#">NoiseFilter</a></li>
                <li data-effect-type="ColorMatrixFilter"><a href="#">ColorMatrixFilter</a></li>
                <li data-effect-type="OutlineFilter"><a href="#">OutlineFilter</a></li>
                <li data-effect-type="DropShadowFilter"><a href="#">DropShadowFilter</a></li>
                <li data-effect-type="TwistFilter"><a href="#">TwistFilter</a></li>
                <li data-effect-type="AsciiFilter"><a href="#">AsciiFilter</a></li>
                <li data-effect-type="DotFilter"><a href="#">DotFilter</a></li>
                <li data-effect-type="EmbossFilter"><a href="#">EmbossFilter</a></li>
                <li data-effect-type="PixelateFilter"><a href="#">PixelateFilter</a></li>
                <li data-effect-type="RGBSplitFilter"><a href="#">RGBSplitFilter</a></li>
                <li data-effect-type="CrossHatchFilter"><a href="#">CrossHatchFilter</a></li>
                <li data-effect-type="ConvolutionFilter"><a href="#">ConvolutionFilter</a></li>
                <li data-effect-type="BloomFilter"><a href="#">BloomFilter</a></li>
                <li data-effect-type="TiltShiftFilter"><a href="#">TiltShiftFilter</a></li>
                <li data-effect-type="ShockwaveFilter"><a href="#">ShockwaveFilter</a></li>
                <li data-effect-type="BulgePinchFilter"><a href="#">BulgePinchFilter</a></li>
                <li data-effect-type="ColorReplaceFilter"><a href="#">ColorReplaceFilter</a></li>
                <li data-effect-type="MultiColorReplaceFilter"><a href="#">MultiColorReplaceFilter</a></li>
                <li data-effect-type="SimpleLightmapFilter"><a href="#">SimpleLightmapFilter</a></li>
                <li data-effect-type="GodrayFilter"><a href="#">GodrayFilter</a></li>
                <li data-effect-type="ZoomBlurFilter"><a href="#">ZoomBlurFilter</a></li>
            </ul>
        </nav>
    </div>
</div>