<div class="dropdown-component-container">
    <div class="dropdown-component">
        <nav class="dropdown dropdown1">
            <ul>
                {{!-- <li data-effect-type="Alpha"><a href="#">Alpha</a></li>
                <li data-effect-type="Attraction"><a href="#">Attraction</a></li>
                <li data-effect-type="Repulsion"><a href="#">Repulsion</a></li>
                <li data-effect-type="Collision"><a href="#">Collision</a></li>
                <li data-effect-type="RectZone"><a href="#">RectZone</a></li>
                <li data-effect-type="CircleZone"><a href="#">CircleZone</a></li>
                <li data-effect-type="LineZone"><a href="#">LineZone</a></li>
                <li data-effect-type="Force"><a href="#">Force</a></li>
                <li data-effect-type="Rotate"><a href="#">Rotate</a></li>
                <li data-effect-type="Scale"><a href="#">Scale</a></li>
                <li data-effect-type="RandomDrift"><a href="#">RandomDrift</a></li>
                <li data-effect-type="GravityWell"><a href="#">GravityWell</a></li>
                <li data-effect-type="BlendMode"><a href="#">BlendMode</a></li> --}}
                <li data-effect-type="GlowFilter"><a href="#">GlowFilter</a></li>
                <li data-effect-type="DisplacementFilter"><a href="#">DisplacementFilter</a></li>
                <li data-effect-type="BlurFilter"><a href="#">BlurFilter</a></li>
                <li data-effect-type="NoiseFilter"><a href="#">NoiseFilter</a></li>
                <li data-effect-type="ColorMatrixFilter"><a href="#">ColorMatrixFilter</a></li>
            </ul>
        </nav>
    </div>
</div>