$space-xs = 4px
$space-s = 8px
$space-m = 16px
$space-l = 32px
$space-xl = 64px

$space-inset-squish-s = 8px 4px
$space-inset-squish-m = 16px 8px
$space-inset-squish-l = 32px 16px
$space-inset-stretch-s = 8px 12px
$space-inset-stretch-m = 16px 24px